<body>
    <div *ngIf="alertMalo" class="alert alert-danger d-flex align-items-center justify-content-center alert-dismissible"
        role="alert">
        <i class="bi bi-exclamation-circle fs-5 mx-2"></i>
        <div>
            {{errorMessage}}
        </div>
    </div>
    <div *ngIf="alertBueno"
        class="alert alert-success d-flex align-items-center justify-content-center alert-dismissible" role="alert">
        <i class="bi bi-check-circle fs-5 mx-2"></i>
        <div>
            {{mensajeBueno}}
        </div>
    </div>
    <div class="container mt-2">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <div class="card shadow">
                    <form [formGroup]="form">
                        <h1 class="text-center mt-2">Agregar Nuevo Producto</h1>
                        <div class="row mt-3">
                            <div class="col-sm-12 col-md-5 col-lg-5 col-xl-5 mx-auto my-2 my-md-0">
                                <div class="form-group">
                                    <label for="input1">Nombre del producto</label>
                                    <input id="input1" type="text" class="form-control"
                                        formControlName="nombre">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-5 col-lg-5 col-xl-5 mx-auto my-2 my-md-0 mx-auto">
                                <div class="form-group">
                                    <label for="input2" class="form-label">Descripcion</label>
                                    <textarea id="input2" class="form-control" style="resize: none"
                                        formControlName="descripcion"  ></textarea>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-5 col-lg-5 col-xl-5 mx-auto my-2 my-md-0">
                                <div class="form-group">
                                    <label for="input3">Cantidad</label>
                                    <input id="input3" type="number" class="form-control"
                                        formControlName="cantidad">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-5 col-lg-5 col-xl-5 mx-auto my-2 my-md-0">
                                <div class="form-group">
                                    <label for="input4">Precio</label>
                                    <input id="input4" type="number" class="form-control"
                                        formControlName="precio" >
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-5 col-lg-5 col-xl-5 mx-auto my-2 my-md-0">
                                <div class="form-group">
                                    <label for="input5">Provedor</label>
                                    <div class="input-field">
                                        <select class="form-select form-control" id="input5" formControlName="provedor"
                                            aria-label="TipoDeRiego">
                                            <option *ngFor="let p of this.ListProvedor" [value]="p.ProveedorID">
                                                {{p.NombreProveedor}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-5 col-lg-5 col-xl-5 mx-auto my-2 my-md-0">
                                <div class="form-group">
                                    <label for="input6">Categoria</label>
                                    <div class="input-field">
                                        <select class="form-select form-control" id="input6" formControlName="categoria"
                                            aria-label="TipoDeRiego">
                                            <option *ngFor="let riego of this.ListCategoria" [value]="riego.id">
                                                {{riego.NombreCategoria}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-12 col-md-5 col-lg-5 col-xl-5 mx-auto my-2 my-md-0">
                                <div
                                    class="gap-2 d-flex align-items-center justify-content-center mb-3 button-container">
                                    <button class="btn btn-success btn-lg" (click)="GuardarCultivo()">
                                        <i class="bi bi-floppy2"></i> Guardar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>