
<body>
    
    <div class="container w-75 py-5">
        <div class="row text-center">
            <div class="col">
                <h1 class="mt-2 fw-bold">Centro de Ayuda</h1>
            </div>
        </div>
        <div class="card rounded shadow mt-3">
            <div class="card-body">
                <h2>¿Cómo personalizo mi perfil?</h2>
                <p>Para personalizarlo, puedes hacer lo siguiente:</p>
                <ul class="sin-marcadores">
                    <li>Accede a la sección de perfil de usuarios.</li>
                    <li>Una vez dentro podrás ver los apartados que puedes modificar.</li>
                    <li>Solo rellena los datos necesarios.</li>
                    <li>Y pulsa el botón de guardar para efectuar los cambios.</li>
                </ul>
            </div>
        </div>
        <div class="card rounded shadow mt-5">
            <div class="card-body">
                <h2>¿Cómo cambio mi contraseña?</h2>
                <p>Si por alguna razón necesitas cambiar tu contraseña, sigue estos pasos:</p>
                <ul class="sin-marcadores">
                    <li>Accede a la sección de perfil de usuarios.</li>
                    <li>Pulsa en "Cambiar contraseña".</li>
                    <li>Rellena los datos con la nueva contraseña.</li>
                    <li>Antes de colocar la nueva contraseña, introduce la actual para confirmar que todo esté bien.</li>
                </ul>
            </div>
        </div>
        <div class="card rounded shadow mt-5">
            <div class="card-body">
                <h2>¿Cómo busco algo en específico?</h2>
                <p>Para buscar algo en específico, sigue estos pasos:</p>
                <ul class="sin-marcadores">
                    <li>Ubica el filtro en la esquina superior derecha</li>
                    <li>Escribe lo que buscas.</li>
                    <li>Da enter y el filtro hará la magia.</li>
                </ul>
            </div>
        </div>
    </div>
</body>
