/* Ajustes generales de la página */
body {
    margin: 0;
    padding: 0;
  }
  
  /* Fondo de la página */
  .container {
    background-image: url('../../../assets/Imagen-Login.png'); /* Reemplaza 'nombre_de_tu_imagen.jpg' con el nombre de tu archivo de imagen */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh; /* Asegura que el fondo cubra al menos toda la altura de la ventana */
    display: flex;
    align-items: center;
  }
  
  /* Estilos del formulario */
  form {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente para mejorar la legibilidad del formulario sobre la imagen de fondo */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%; /* Asegura que el formulario ocupe el ancho completo del contenedor */
    max-width: 400px; /* Limita el ancho máximo del formulario para que no se extienda demasiado en pantallas grandes */
    margin: 0 auto; /* Centra el formulario horizontalmente */
  }
  
  /* Estilos del botón */
  button {
    margin-top: 10px;
  }
  
  /* Ajustes adicionales según sea necesario */
  