<div class="background-container">
    <div class="background-animation"></div>
  </div>
  
  <div class="login-container">
    <div class="form-container">
      <h1>ABARROTES LA BENDICIÓN DE DIOS</h1>
      <img src="../../../assets/Imagen-Login.png" alt="Login Image" class="login-image">
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
      
      <form [formGroup]="forma" (ngSubmit)="onSubmit()">
        <label for="UserName"><b>Usuario</b></label>
        <input type="text" placeholder="Escriba el usuario" name="UserName" formControlName="UserName" required>
  
        <label for="Password"><b>Contraseña</b></label>
        <input type="password" placeholder="Escriba su contraseña" name="Password" formControlName="Password" required>
  
        <button type="submit">Login</button>
      </form>
      <p class="mb-0 pb-lg-0 mx-5 " style="color: #000000;">¿No tienes una cuenta? <a [routerLink]="['/register']" style="color: #0015ff;">Registrar aquí</a>
    </div>
  </div>
  