<!-- products.component.html -->
<body>
    <header>
        <nav>
          <div class="logo">Abarrotes La Bendición de Dios</div>
          <ul>
            <li><a (click)="irAInicio()">Inicio</a></li>
            <li><a href="#">Contacto</a></li>
            <li><a href="#">Carrito</a></li>
            <li><a href="#">Perfil</a></li>
          </ul>
        </nav>
      </header>
      
      <main>
        <div class="container ">
            <div class="row">
            <section class="featured-products">
                <h2 class="text-center mb-4">Productos de la Categoria</h2>
                <div class="row justify-content-center">
                  <div class=" col col-md-3" *ngFor="let producto of productos; let i = index">
                    <div class="card shadow mb-4 ml-3">
                      <img src="../../../assets/Imagen-{{producto.ProductoID}}.jpeg" class="card-img-top" alt="{{producto.NombreProducto}}">
                      <div class="card-body">
                        <h5 class="card-title">{{producto.NombreProducto}}</h5>
                        <p class="card-text">{{producto.Descripcion}}</p>
                        <p class="card-text">Precio: {{producto.Precio}}</p>
                        <p class="card-text">Disponibles: {{producto.CantidadEnStock}}</p>
                        <a href="#" class="btn btn-primary">Agregar a Carrito</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close"
              (click)="Actualizar()">Guardar</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="buscarTarjetas().length === 0">
      <div class="col text-center carga">
        <div class="mt-4 d-flex justify-content-center">
          <div class="spinner-border" style="width: 8rem; height: 8rem;" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
        <p class="mt-2" style="font-size: 4rem;">Cargando...</p>
      </div>
    </div>
    <div *ngIf="mostrarMensajeError"
      class="alert alert-danger d-flex align-items-center justify-content-center alert-dismissible text-center"
      id="alert" role="alert">
      <div class="d-flex align-items-center">
        <i class="bi bi-exclamation-circle fs-5 mx-2"></i>
        <div class="fs-5">
          <p class="mb-0">No se encontraron resultados.</p>
        </div>
      </div>
    </div>
  </div>
</body>