body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

header {
  background-color: #3498db;
  color: #fff;
  padding: 15px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  font-size: 24px;
}

ul {
  list-style: none;
  display: flex;
}

li {
  margin: 0 15px;
  height: 5px;
}

a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 30px 0;
}

/* 🛒 Estilo de categorías */
.featured-products {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px;
  width: 220px;
  height: 390px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 120px;
  object-fit: contain;
  border-bottom: 1px solid #ddd;
  background-color: white;
  padding: 5px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 10px;
  justify-content: space-between;
}

.card-title {
  font-size: 20px;
  margin-top: 6px;
}
.card-text-wrapper {
  position: relative;
  height: 120px;
  overflow: hidden;
  margin-bottom: 10px;
}
.card-text {
  position: absolute;
  width: 100%;
  top: 0;
  animation: none;
}
.card:hover .card-text {
  animation: scrollText 7s linear infinite;
}
@keyframes scrollText {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  overflow: visible;
}
.card-body button {
  margin-bottom: 5px;
  margin-top: 0px;
}

/* 🎯 Botones */
.btn-primary, .btn-danger {
  padding: 8px 12px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-primary i, .btn-danger i {
  margin-right: 5px;
}

.btn-primary {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #2980b9;
}

.btn-danger {
  background-color: #e74c3c;
  border: none;
  border-radius: 5px;
}

.btn-danger:hover {
  background-color: #c0392b;
}

/* Botón verde de guardar */
.btn-success {
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  padding: 10px 18px;
  font-size: 16px;
  color: white;
  transition: background-color 0.3s;
}

.btn-success:hover {
  background-color: #218838;
}

footer {
  background-color: #546270;
  text-align: center;
  padding: 10px 0;
}

/* 🎯 Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal.show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  padding: 30px 40px;
  border: 1px solid #888;
  width: 700px;
  max-width: 90%;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
  animation: fadeIn 0.5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ❌ Botón de Cerrar */
.close-button {
  position: absolute;
  top: 15px;
  right: 20px;
  background: none;
  border: none;
  font-size: 28px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}

.close-button:hover {
  color: #e74c3c;
}

/* 📦 Contenido del modal */
.modal-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 60px; /* <-- Más separación */
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-thumbnail {
  width: 100%;
  height: 120px;
  object-fit: contain;
  border-bottom: 1px solid #ddd;
  background-color: white;
  padding: 5px;
}

/* Botones debajo de imagen */
.image-buttons {
  display: flex;
  margin-top: 10px;
  gap: 10px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 350px;
}

.text-end {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.header-line {
  width: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
  margin-bottom: 20px;
}
.header-button-right {
  margin-left: auto;
  justify-content:center;
  align-items: center;
  cursor: pointer;
}
.no-categorias {
  width: 100%;
  margin-top: 70px; /* <- este es el que baja el mensaje */
  text-align: center;
}
.swal2-container {
  z-index: 1100 !important;
}
.add-button-container {
  display: flex;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  justify-content: space-between;
}

.btn-add {
  background-color: #CCE32F;
  border: none;
  border-radius: 5px;
  padding: 12px 26px;
  font: 11px "Open Sans", Roboto, sans-serif;
  font-size: 16px;
  color: #1F568A;
  transition: background-color 0.3s;
}
.btn-filtro {
  background-color: #CCE32F;
  border:#546270;
  background-color: transparent;
  border-radius: 5px;
  padding: 6px 16px;
  font: 11px "Open Sans", Roboto, sans-serif;
  font-size: 16px;
  color: #1F568A;
  transition: background-color 0.3s;
}
.btn-filtro:hover {
  background-color: #f2f2f2;
}
.contenido-filtro {
  display: flex;
  align-items: center;
  gap: 10px; /* <-- este es el espacio entre ícono y texto */
}

.btn-filtro:hover {
  background-color: #f2f2f2;
}

.icono-filtro {
  width: 25px;
  height: 25px;
}
.filtro-wrapper {
  position: relative;
  display: inline-block;
}

.dropdown-filtros-grid {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
  display: grid;
  grid-template-columns: repeat(1, auto);
  min-width: 133px;
}

.filtro-opcion {
  cursor: pointer;
  padding: 6px 10px;
  border-radius: 4px;
  transition: background-color 0.2s ease;
  font-size: 15px;
}

.filtro-opcion:hover {
  background-color: #f2f2f2;
}
.barra-busqueda {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 10px;
  margin-left: 8px;
}

.filtro-select {
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.input-busqueda {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 250px;
  font-size: 14px;
}

.btn-icono {
  background-color: #f2f2f2;
  border: none;
  border-radius: 5px;
  padding: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.btn-icono img {
  width: 20px;
  height: 20px;
}

.busqueda-grupo {
  display: flex;
  align-items: center;
  gap: 10px;
}
