<!-- products.component.html -->
<body>
    <header>
        <nav>
          <div class="logo">Abarrotes La Bendición de Dios</div>
          <ul>
            <li><a href="home">Inicio</a></li>
            <li><a href="#">Contacto</a></li>
            <li><a href="#">Carrito</a></li>
            <li><a href="#">Perfil</a></li>
          </ul>
        </nav>
      </header>
      
      <main>
        <div class="container ">
            <div class="row">
            <section class="featured-products">
                <h2 class="text-center mb-4">Productos Disponibles</h2>
                <div class="row justify-content-center">
                  <div class=" col col-md-3" *ngFor="let producto of productos; let i = index">
                    <div class="card shadow mb-4 ml-3">
                      <img src="../../../assets/Imagen-{{producto.ProductoID}}.jpeg" class="card-img-top" alt="{{producto.NombreProducto}}">
                      <div class="card-body">
                        <h5 class="card-title">{{producto.NombreProducto}}</h5>
                        <p class="card-text">{{producto.Descripcion}}</p>
                        <p class="card-text">Precio: {{producto.Precio}}</p>
                        <p class="card-text">Disponibles: {{producto.CantidadEnStock}}</p>
                        <a href="#" class="btn btn-primary">Agregar a Carrito</a>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              </div>
        </div>
        
      </main>
      
      <footer>
        <p class="text-center">&copy; 2023 Abarrotes La Bendición de Dios</p>
      </footer>
    </body>
    