<footer class="bg-dark text-white text-center">
    <div class="container mt-5"> 
      <section class="mb-2">
  
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
          <i class="bi bi-facebook"></i>
        </a>
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
          <i class="bi bi-twitter"></i>
        </a>
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
          <i class="bi bi-instagram"></i>
        </a>
      </section>
     
      <div class="text-center p-3" >
        © 2024 Derechos de autor:
        <a class="text-white" href="https://FertiHor.com/">FertiHor.com</a>
      </div>
    </div>
  </footer>
  